/***********************
*  author: lexyee
*  version: 1.0
*  
************************/


/***********************
*  
*  color schema
*  
*  white:         #fff
*  black:         #000
*  white-ink:     #e2e2e2
*  brush-color:   #333333
*  
************************/


/***********************
*  
*  base
*  
************************/



body {
	
}

h1, h2, h3, h4, h5 {

}

a {

}

p {

}


/***********************
*  
*  playground
*  
************************/


.playground {
	background-color: #000;
}


/***********************
*  
*  brush
*  
************************/

#brush, .brush-overlay {
	position: absolute;
	opacity: 0;
	visibility: hidden;
	transform: translate(-50%, -50%);
	width: 100px;
	height: 100px;
	background-color: #fff;
	border-radius: 50%;
	opacity: .2;
	transition: all .1s cubic-bezier(0, 0, 0.2, 1);
}

.brush-overlay {
	width: 150px;
	height: 150px;
	background-color: #000;	
}

#brush.active {
	opacity: .4;
	visibility: visible;
	/*filter: blur(5px);*/
}

.brush-overlay.active {
	opacity: 1;
	visibility: visible;	
	filter: blur(5px);
}


/***********************
*  
*  svg moon
*  
************************/

svg.moon {
	position: absolute;
	transform: scale(.5);
	animation: moon-moving 4s 0s forwards;
}

circle.moon-light {
	fill: #fff;
	stroke: none;
	filter:url(#Gaussian_Blur);
}


circle.moon-shadow {
	visibility: hidden;
	transform-origin: center left;
	transform: translate(100px, 100px);
	filter:url(#Gaussian_Blur_Light);
	animation: grow-phase-1 1s 0s forwards, grow-phase-4 1s 3s forwards;
  
}

g#Page-1 {
	visibility: hidden;
	transform-origin: 93px 111px;
	transform: translate(-20px,-13px) rotateY(-180deg) rotateZ(11deg) scale(3);
  filter:url(#Gaussian_Blur_Light);
  animation: grow-phase-2 1s 1s forwards, grow-phase-3 1s 2s forwards;
}



/***********************
*  
*  animations
*  
************************/

@keyframes grow-phase-1 {
0% {visibility: visible;}
4% {transform: translate(120px, 100px);}
10% {transform: translate(125px, 100px);}
20% {transform: translate(130px, 100px) scale(1.3);}
30% {transform: translate(138px, 100px) scale(1.4);}
40% {transform: translate(146px, 100px) scale(1.5);}
50% {transform: translate(155px, 100px) scale(1.6);}
60% {transform: translate(162px, 100px) scale(1.7);}
70% {transform: translate(170px, 100px) scale(2.5);}
80% {transform: translate(178px, 100px) scale(3);}
90% {transform: translate(184px, 100px) scale(3);}
100% {transform: translate(190px, 100px) scale(3);}
}

@keyframes grow-phase-2 {
0% {visibility: visible; transform: translate(-17px,-13px) rotateY(-180deg) rotateZ(11deg) scale(3);}
4% {transform: translate(-12px,-13px) rotateY(-180deg) rotateZ(11deg) scale(3);}
10% {transform: translate(-6px,-13px) rotateY(-180deg) rotateZ(11deg) scale(3);}
20% {transform: translate(0px,-13px) rotateY(-180deg) rotateZ(11deg) scale(3);}
30% {transform: translate(8px,-13px) rotateY(-180deg) rotateZ(11deg) scale(3);}
40% {transform: translate(16px,-13px) rotateY(-180deg) rotateZ(11deg) scale(3);}
50% {transform: translate(25px,-13px) rotateY(-180deg) rotateZ(11deg) scale(3);}
60% {transform: translate(32px,-13px) rotateY(-180deg) rotateZ(11deg) scale(3);}
70% {transform: translate(40px,-13px) rotateY(-180deg) rotateZ(11deg) scale(3);}
80% {transform: translate(48px,-13px) rotateY(-180deg) rotateZ(11deg) scale(3);}
90% {transform: translate(55px,-13px) rotateY(-180deg) rotateZ(11deg) scale(3);}
100% {transform: translate(62px,-13px) rotateY(-180deg) rotateZ(11deg) scale(3);}
}

@keyframes grow-phase-3 {
0% {visibility: visible; transform: translate(-38px,-13px) rotateY(0deg) rotateZ(11deg) scale(3);}
4% {transform: translate(-30px,-13px) rotateY(0deg) rotateZ(11deg) scale(3);}
10% {transform: translate(-22px,-13px) rotateY(0deg) rotateZ(11deg) scale(3);}
20% {transform: translate(-14px,-13px) rotateY(0deg) rotateZ(11deg) scale(3);}
30% {transform: translate(-6px,-13px) rotateY(0deg) rotateZ(11deg) scale(3);}
40% {transform: translate(2px,-13px) rotateY(0deg) rotateZ(11deg) scale(3);}
50% {transform: translate(5px,-13px) rotateY(0deg) rotateZ(11deg) scale(3);}
60% {transform: translate(10px,-13px) rotateY(0deg) rotateZ(11deg) scale(3);}
70% {transform: translate(15px,-13px) rotateY(0deg) rotateZ(11deg) scale(3);}
80% {transform: translate(20px,-13px) rotateY(0deg) rotateZ(11deg) scale(3);}
90% {transform: translate(25px,-13px) rotateY(0deg) rotateZ(11deg) scale(3);}
100% {transform: translate(30px,-13px) rotateY(0deg) rotateZ(11deg) scale(3);}
}

@keyframes grow-phase-4 {
0% {visibility: visible; transform-origin: center right; transform: translate(14px, 100px) scale(2);}
4% {transform: translate(20px, 100px) scale(1.8);}
10% {transform: translate(24px, 100px) scale(1.8);}
20% {transform: translate(30px, 100px) scale(1.7);}
30% {transform: translate(35px, 100px) scale(1.6);}
40% {transform: translate(40px, 100px) scale(1.5);}
50% {transform: translate(45px, 100px) scale(1.5);}
60% {transform: translate(50px, 100px) scale(1.5);}
70% {transform: translate(55px, 100px) scale(1.5);}
80% {transform: translate(60px, 100px) scale(1.5);}
90% {transform: translate(70px, 100px) scale(1.5);}
100% {transform: translate(86px, 100px) scale(1.5);}
}


@keyframes moon-moving {
0% {top: 70%; left: 0;}
3% {top: 65%; left: 2%;}
10% {top: 55%; left: 5%;}
13% {top: 50%; left: 7%;}
20% {top: 40%; left: 10%;}
23% {top: 35%; left: 13%;}
30% {top: 25%; left: 20%;}
33% {top: 20%; left: 25%;}
40% {top: 10%; left: 30%;}
45% {top: 5%; left: 38%;}
50% {top: 0%; left: 45%;}
55% {top: 5%; left: 52%;}
60% {top: 10%; left: 60%;}
67% {top: 20%; left: 65%;}
70% {top: 25%; left: 70%;}
77% {top: 35%; left: 77%;}
80% {top: 40%; left: 80%;}
87% {top: 50%; left: 83%;}
90% {top: 55%; left: 85%;}
97% {top: 65%; left: 88%;}
100% {top: 70%; left: 90%;}
}